/* Headings
=========== */
h1, h2, h3, h4, h5, h6{font-family: arial, helvetica, verdana, sans-serif;margin-bottom: 0em;}
	h1{
		font-family: helvetica, arial, sans-serif;
		color: #1E1E1E;
		text-transform: uppercase;
		line-height: 0;
		height:0;
/*Begin*//*overflow:hidden;*/
		font-size: 1.2em;
		line-height:1em;
		height:auto;
		margin-top: 10px;
		margin-bottom: 0.5em;
		overflow:visible;
		clear:both;
	}
		.row h1,
		.main h1,
		.sub h1,
		.content_h1 h1,
		.panel h1{
/*Begin*/	color: #1E1E1E;
			text-transform: uppercase;
			line-height: 0;
			height:0;
			overflow:hidden;
			font-size: 1.2em;
			line-height:1em;
			height:auto;
			margin-top: 10px;
			margin-bottom: 0.5em;
			overflow:visible;
			clear:both;
		}
	
	h2,
	.main .black h2,
	.sub .black h2,
	.news_title h1,
	.main .black .faux-header,
	.sub .black .faux-header,
	.faux-header{
		font-family: helvetica, arial, sans-serif;
		color:#62B651;
		font-size: 1.9em;
		/*line-height:1.0625em;*/
		line-height:1.125em;
		margin-bottom: 0.4375em;
		
		/**float:left;*/ /*ie6 unwanted margin-bottom*/
		/**width:100%;*/ /*ie6 unwanted margin-bottom*/
	}
		h2 a:link,
		h2 a:visited{background: transparent url('../../img/icons/icn_h2_link.gif') right 50% no-repeat;color:#62B651;padding-right: 16px;}
		
		h2 a:hover,
		h2 a:focus,
		h2 a:active{background-image: url('../../img/icons/icn_h2_link_hover.gif');color: #338322;}
		
		.main h2,
		.sub h2,
		.main .faux-header,
		.sub .faux-header,
		.white h2,
		.main h1.news_title,
		.white .faux-header{color:#333;font-size:1.6em;}
		.main h1.news_title{text-transform: none;clear:none}
	h3, .faux-label{color:#2C9F33;font-size:1.1em;line-height:1.0909em;font-weight: bold;margin-bottom:1em;}
		.faux-label{line-height:1em;}
		ul .faux-label,
		ol .faux-label,
		dl .faux-label{font-size:1em;}
		.content h3, .content .faux-label, li.faux-label{margin-bottom:0.3636em;}
		.content .grid h3, .content .grid .faux-label{margin-bottom: 0.6363em;}
	h4{font-size: 1.1em;/*color:#848383;*/color:#2c9f33;margin-bottom: 0.1818em;}
		.grid h4{margin-bottom: 0.3636em;}
	h5{}
	h6{}
	

/* Paragraphs
============= */
p{font-size: 1.1em; line-height: 1.2727em; margin-bottom: 1em;}
#site-nav p{padding-bottom:10px;}
p img{vertical-align:text-bottom;}
p a:link, p a:visited{text-decoration: none;}
p a:hover, p a:focus, p a:active{color:#0072B0;text-decoration: underline;}

/*p a:hover span{text-decoration: underline;}*/

p.intro{
	font-family:helvetica, arial, sans-serif;
	color: #1E1E1E;
	font-size: 2.2em;
	line-height: 1.13636em;
	font-weight: bold;
	margin-bottom: 0.6818em;
	clear:both;
}
	.main p.intro{font: 1.4em/1.2142em arial, helvetica, verdana, sans-serif;color:#848383;font-weight:normal;margin-bottom:1.5em;}

p.readmore{
	height: 3.8181em;
	overflow: hidden;
	margin-bottom: 0.6363em;
	position:relative;
        padding-left: 1px;
}

p.date,
#search .item p{margin-bottom: 5px;}

.telephone{background: transparent url('../../img/icons/icn_site_telephone.gif') 0 -18px no-repeat;padding: 2px 0 0 21px;}
.facsimile{background: transparent url('../../img/icons/icn_site_fax.gif') 0 -18px no-repeat;padding: 2px 0 0 21px;}
.email{background: transparent url('../../img/icons/icn_site_email.gif') 0 -18px no-repeat;padding: 2px 0 0 21px;}
.vcard{background: transparent url('../../img/icons/icn_site_vcard.gif') 0 -18px no-repeat;padding: 2px 0 0 21px;}
.atms{background: transparent url('../../img/icons/icn_site_atm.gif') 0 -18px no-repeat;padding: 2px 0 0 21px;}
.branches{background: transparent url('../../img/icons/icn_site_branch.gif') 0 -18px no-repeat;padding: 2px 0 0 21px;}
.people{background: transparent url('../../img/icons/icn_site_people.gif') 0 -18px no-repeat;padding: 2px 0 0 21px;}
	.email:hover,
	.vcard:hover{background-position: 0 0;}

.twitter{background: transparent url('../../img/icons/icn_corp_twitter.gif') right -18px no-repeat;padding:1px 16px 1px 0;}
.flickr{background: transparent url('../../img/icons/icn_corp_flickr.gif') right -18px no-repeat;padding:1px 16px 1px 0;}

/* Misc Elements
========== */
blockquote{color:#2C9F33;font-size: 1.4em;line-height: 1.214em;font-style:normal;margin-bottom: 1em;padding:0 20px;position:relative;}
	.left-qmarks, .right-qmarks {font-size: 18px;font-weight:bold;}
	.left-qmarks{position: absolute;top:1px;left:10px;}
	.right-qmarks{position:relative;top:2px;left:2px;line-height:10px;}
address{background: transparent url('../../img/icons/icn_site_postal.gif') 0 -18px no-repeat;font-size: 1.1em;line-height: 1.2727em;margin-bottom: 1em;padding: 1px 0 0 21px;}
strong{font-weight:bold;}

hr,
.hr{border-top:1px solid #D6D6D6;border-bottom:1px solid #F5F5F5;margin: 1.1em 0;height:0;clear:both;}
p.instructions{color:#333;margin-bottom:0.4545em;}
a span.filesize{background:transparent none;color:#848383;font-weight:normal;padding:0;}

/* Lists
============= */
ul, ol, dl{font-size: 1.1em; line-height: 1.2727em;margin-bottom: 1em;}
li{margin-bottom: 0.545em;}

dt{font-weight: bold;}

ul ul,
ul ol,
ol ol,
ol ul,
dl ul,
dl ol{font-size: 1em;}

ul p,
ol p,
dl p,
ul address,
ol address,
dl address,
ul h2,
ol h2,
dl h2,
ul h3,
ol h3,
dl h3,
ul h4,
ol h4,
dl h4{font-size: 1em;}

ul.bullet-list li{background: transparent url('../../img/sprites/ul_bullet_green.gif') 0 0.4545em no-repeat;padding-left: 15px;margin-bottom: 0.545em;}
li.bullet-list{background: transparent url('../../img/sprites/ul_bullet_green.gif') 0 0.4545em no-repeat;padding-left: 15px;margin-bottom: 0.545em;}
div.bullet-list{background: transparent url('../../img/sprites/ul_bullet_green.gif') 0 0.4545em no-repeat;padding-left: 15px;margin-bottom: 0.545em;}
/*ol.ordered-list{list-style:decimal outside none;padding-left:18px;}*/
ol.ordered-list{list-style:decimal inside none;padding-left:18px;}
li.ordered-list{list-style:decimal inside none;padding-left:18px;}
	/*ol.ordered-list li{padding-left:0;}*/

/*ISO 3166 standard included*/
.country-list{overflow:hidden;}
.country-list li{background:transparent url('../../img/sprites/spr_flags.gif') 0 0 no-repeat;padding: 1px 0 1px 25px;}
	.country-list .afghanistan,
	.country-list .af{background-position:0 0px;}
	.country-list .afghanistan:active,
	.country-list .af:active{background-position:0 -50px;}
	.country-list .angola,
	.country-list .an{background-position:0 -6900px;}
	.country-list .angola:active,
	.country-list .an:active{background-position:0 -6950px;}
	.country-list .argentina,
	.country-list .ar{background-position:0 -100px;}
	.country-list .argentina:active,
	.country-list .ar:active{background-position:0 -150px;}
	.country-list .australia,
	.country-list .au{background-position:0 -200px;}
	.country-list .australia:active,
	.country-list .au:active{background-position:0 -250px;}
	.country-list .austria,
	.country-list .at{background-position:0 -300px;}
	.country-list .austria:active,
	.country-list .at:active{background-position:0 -350px;}
	.country-list .bahrain,
	.country-list .bh{background-position:0 -400px;}
	.country-list .bahrain:active,
	.country-list .bh:active{background-position:0 -450px;}
	.country-list .bangladesh,
	.country-list .bd{background-position:0 -500px;}
	.country-list .bangladesh:active,
	.country-list .bd:active{background-position:0 -550px;}
	.country-list .botswana,
	.country-list .bw{background-position:0 -600px;}
	.country-list .botswana:active,
	.country-list .bw:active{background-position:0 -650px;}
	.country-list .brazil,
	.country-list .br{background-position:0 -700px;}
	.country-list .brazil:active,
	.country-list .br:active{background-position:0 -750px;}
	.country-list .bruneidarussalam,
	.country-list .bn{background-position:0 -800px;}
	.country-list .bruneidarussalam:active,
	.country-list .brunei,
	.country-list .bn{background-position:0 -800px;}
	.country-list .brunei:active,
	.country-list .bn:active{background-position:0 -850px;}
	.country-list .cambodia,
	.country-list .kh{background-position:0 -900px;}
	.country-list .cambodia:active,
	.country-list .kh:active{background-position:0 -950px;}
	.country-list .cameroon,
	.country-list .cm{background-position:0 -1000px;}
	.country-list .cameroon:active,
	.country-list .cm:active{background-position:0 -1050px;}
	.country-list .canada,
	.country-list .ca{background-position:0 -1100px;}
	.country-list .canada:active,
	.country-list .ca:active{background-position:0 -1150px;}
	.country-list .caymanislands,
	.country-list .ky{background-position:0 -1200px;}
	.country-list .caymanislands:active,
	.country-list .ky:active{background-position:0 -1250px;}
	.country-list .chile,
	.country-list .cl{background-position:0 -1300px;}
	.country-list .chile:active,
	.country-list .cl:active{background-position:0 -1350px;}
	.country-list .china,
	.country-list .cn{background-position:0 -1400px;}
	.country-list .china:active,
	.country-list .cn:active{background-position:0 -1450px;}
	.country-list .colombia,
	.country-list .co{background-position:0 -1500px;}
	.country-list .colombia:active,
	.country-list .co:active{background-position:0 -1550px;}
	.country-list .egypt,
	.country-list .eg{background-position:0 -1600px;}
	.country-list .egypt:active,
	.country-list .eg:active{background-position:0 -1650px;}
	.country-list .ireland,
	.country-list .ie{background-position:0 -1700px;}
	.country-list .ireland:active,
	.country-list .ie:active{background-position:0 -1750px;}
	.country-list .falklandislands,
	.country-list .fk{background-position:0 -1800px;}
	.country-list .falklandislands:active,
	.country-list .fk:active{background-position:0 -1850px;}
	.country-list .france,
	.country-list .fr{background-position:0 -1900px;}
	.country-list .france:active,
	.country-list .fr:active{background-position:0 -1950px;}
	.country-list .thegambia,
	.country-list .gm{background-position:0 -2000px;}
	.country-list .thegambia:active,
	.country-list .gm:active{background-position:0 -2050px;}
	.country-list .germany,
	.country-list .de{background-position:0 -2100px;}
	.country-list .germany:active,
	.country-list .de:active{background-position:0 -2150px;}
	.country-list .ghana,
	.country-list .gh{background-position:0 -2200px;}
	.country-list .ghana:active,
	.country-list .gh:active{background-position:0 -2250px;}
	.country-list .guernsey,
	.country-list .gg{background-position:0 -2300px;}
	.country-list .guernsey:active,
	.country-list .gg:active{background-position:0 -2350px;}
	.country-list .hongkong,
	.country-list .hk{background-position:0 -7100px;}
	.country-list .hongkong:active,
	.country-list .hk:active{background-position:0 -7150px;}
	.country-list .india,
	.country-list .in{background-position:0 -2500px;}
	.country-list .india:active,
	.country-list .in:active{background-position:0 -2550px;}
	.country-list .indonesia,
	.country-list .id{background-position:0 -6800px;}
	.country-list .indonesia:active,
	.country-list .id:active{background-position:0 -6850px;}
	.country-list .iran,
	.country-list .ir{background-position:0 -2600px;}
	.country-list .iran:active,
	.country-list .ir:active{background-position:0 -2650px;}
	.country-list .italy,
	.country-list .it{background-position:0 -2700px;}
	.country-list .italy:active,
	.country-list .it:active{background-position:0 -2750px;}
	.country-list .cotedivoire,
	.country-list .ci{background-position:0 -2800px;}
	.country-list .cotedivoire:active,
	.country-list .ci:active{background-position:0 -2850px;}
	.country-list .japan,
	.country-list .jp{background-position:0 -2900px;}
	.country-list .japan:active,
	.country-list .jp:active{background-position:0 -2950px;}
	.country-list .jersey,
	.country-list .je{background-position:0 -3000px;}
	.country-list .jersey:active,
	.country-list .je:active{background-position:0 -3050px;}
	.country-list .jordan,
	.country-list .jo{background-position:0 -3100px;}
	.country-list .jordan:active,
	.country-list .jo:active{background-position:0 -3150px;}
	.country-list .kenya,
	.country-list .ke{background-position:0 -3200px;}
	.country-list .kenya:active,
	.country-list .ke:active{background-position:0 -3250px;}
	.country-list .laos,
	.country-list .la{background-position:0 -3300px;}
	.country-list .laos:active,
	.country-list .la:active{background-position:0 -3350px;}
	.country-list .lebanon,
	.country-list .lb{background-position:0 -3400px;}
	.country-list .lebanon:active,
	.country-list .lb:active{background-position:0 -3450px;}
	.country-list .macau,
	.country-list .mo{background-position:0 -3500px;}
	.country-list .macau:active,
	.country-list .mo:active{background-position:0 -3550px;}
	.country-list .malaysia,
	.country-list .my{background-position:0 -3600px;}
	.country-list .malaysia:active,
	.country-list .my:active{background-position:0 -3650px;}
	.country-list .mauritius,
	.country-list .mu{background-position:0 -3700px;}
	.country-list .mauritius:active,
	.country-list .mu:active{background-position:0 -3750px;}
	.country-list .mexico,
	.country-list .mx{background-position:0 -3800px;}
	.country-list .mexico:active,
	.country-list .mx:active{background-position:0 -3850px;}
	.country-list .nepal,
	.country-list .np{background-position:0 -3900px;}
	.country-list .nepal:active,
	.country-list .np:active{background-position:0 -3950px;}
	.country-list .nigeria,
	.country-list .ng{background-position:0 -4000px;}
	.country-list .nigeria:active,
	.country-list .ng:active{background-position:0 -4050px;}
	.country-list .oman,
	.country-list .om{background-position:0 -4100px;}
	.country-list .oman:active,
	.country-list .om:active{background-position:0 -4150px;}
	.country-list .pakistan,
	.country-list .pk{background-position:0 -4200px;}
	.country-list .pakistan:active,
	.country-list .pk:active{background-position:0 -4250px;}
	.country-list .peru,
	.country-list .pe{background-position:0 -4300px;}
	.country-list .peru:active,
	.country-list .pe:active{background-position:0 -4350px;}
	.country-list .philippines,
	.country-list .ph{background-position:0 -4400px;}
	.country-list .philippines:active,
	.country-list .ph:active{background-position:0 -4450px;}
	.country-list .qatar,
	.country-list .qa{background-position:0 -4500px;}
	.country-list .qatar:active,
	.country-list .qa:active{background-position:0 -4550px;}
	.country-list .russia,
	.country-list .ru{background-position:0 -4600px;}
	.country-list .russia:active,
	.country-list .ru:active{background-position:0 -4650px;}
	.country-list .saudiarabia,
	.country-list .sa{background-position:0 -7000px;}
	.country-list .saudiarabia:active,
	.country-list .sa:active{background-position:0 -7050px;}
	.country-list .sierraleone,
	.country-list .sl{background-position:0 -4700px;}
	.country-list .sierraleone:active,
	.country-list .sl:active{background-position:0 -4750px;}
	.country-list .singapore,
	.country-list .sg{background-position:0 -4800px;}
	.country-list .singapore:active,
	.country-list .sg:active{background-position:0 -4850px;}
	.country-list .southafrica,
	.country-list .za{background-position:0 -4900px;}
	.country-list .southafrica:active,
	.country-list .za:active{background-position:0 -4950px;}
	.country-list .southkorea,
	.country-list .kr{background-position:0 -5000px;}
	.country-list .southkorea:active,
	.country-list .kr:active{background-position:0 -5050px;}
	.country-list .spain,
	.country-list .es{background-position:0 -5100px;}
	.country-list .spain:active,
	.country-list .es:active{background-position:0 -5150px;}
	.country-list .srilanka,
	.country-list .lk{background-position:0 -5200px;}
	.country-list .srilanka:active,
	.country-list .lk:active{background-position:0 -5250px;}
	.country-list .sweden,
	.country-list .se{background-position:0 -5300px;}
	.country-list .sweden:active,
	.country-list .se:active{background-position:0 -5350px;}
	.country-list .switzerland,
	.country-list .ch{background-position:0 -5400px;}
	.country-list .switzerland:active,
	.country-list .ch:active{background-position:0 -5450px;}
	.country-list .taiwan,
	.country-list .tw{background-position:0 -5500px;}
	.country-list .taiwan:active,
	.country-list .tw:active{background-position:0 -5550px;}
	.country-list .tanzania,
	.country-list .tz{background-position:0 -5600px;}
	.country-list .tanzania:active,
	.country-list .tz:active{background-position:0 -5650px;}
	.country-list .thailand,
	.country-list .th{background-position:0 -5700px;}
	.country-list .thailand:active,
	.country-list .th:active{background-position:0 -5750px;}
	.country-list .turkey,
	.country-list .tr{background-position:0 -5800px;}
	.country-list .turkey:active,
	.country-list .tr:active{background-position:0 -5850px;}
	.country-list .unitedarabemirates,
	.country-list .ae{background-position:0 -5900px;}
	.country-list .unitedarabemirates:active,
	.country-list .ae:active{background-position:0 -5950px;}
	.country-list .uganda,
	.country-list .ug{background-position:0 -6000px;}
	.country-list .uganda:active,
	.country-list .ug:active{background-position:0 -6050px;}
	.country-list .unitedkingdom,
	.country-list .gb{background-position:0 -6100px;}
	.country-list .unitedkingdom:active,
	.country-list .gb:active{background-position:0 -6150px;}
	.country-list .uraguay,
	.country-list .uy{background-position:0 -6200px;}
	.country-list .uraguay:active,
	.country-list .uy:active{background-position:0 -6250px;}
	.country-list .usa,
	.country-list .us{background-position:0 -6300px;}
	.country-list .usa:active,
	.country-list .us:active{background-position:0 -6350px;}
	.country-list .venezuela,
	.country-list .ve{background-position:0 -6400px;}
	.country-list .venezuela:active,
	.country-list .ve:active{background-position:0 -6450px;}
	.country-list .vietnam,
	.country-list .vn{background-position:0 -6500px;}
	.country-list .vietnam:active,
	.country-list .vn:active{background-position:0 -6550px;}
	.country-list .zambia,
	.country-list .zm{background-position:0 -6600px;}
	.country-list .zambia:active,
	.country-list .zm:active{background-position:0 -6650px;}
	.country-list .zimbabwe,
	.country-list .zw{background-position:0 -6700px;}
	.country-list .zimbabwe:active,
	.country-list .zw:active{background-position:0 -6750px;}

/* Anchors
========== */
a:link,
a:visited{text-decoration:none;color: #3F94BC;}

a:hover,
a:focus,
a:active{color: #0072B0;}

#footer a:link,
#footer a:visited{text-decoration:none;color: #848383;}

#footer a:hover,
#footer a:focus,
#footer a:active{color: #FFF;}

a img,
a:link img{border:none;}

/*cta*/
/*.links{overflow:hidden;}*/
.cta,
.links a{
	background: transparent url('../../img/icons/icn_cta_blue.gif') right 50% no-repeat;
	font-weight:bold;
	padding-right: 10px;
}
	.back{
		background-image: url('../../img/icons/icn_cta-back_blue.gif');
		background-position: 0 50% !important;
		padding: 0 0 0 10px;
	}
	.external span{
		background: transparent url('../../img/icons/icn_externallink.gif') right 50% no-repeat;
		font-weight: bold;
		padding-right: 15px;
	}
	
	.external:hover span{background-image:url('../../img/icons/icn_externallink_hover.gif');}
	
	.email span{background: transparent url('../../img/icons/icn_site_email.gif') 0 -18px no-repeat;}
	.vcard span{background: transparent url('../../img/icons/icn_site_vcard.gif') 0 -18px no-repeat;}
	.download span{background: transparent url('../../img/icons/icn_site_image.gif') 0 -18px no-repeat;}
	.zip span{background: transparent url('../../img/icons/icn_site_zip.gif') 0 -18px no-repeat;}
	
	.email span,
	.vcard span,
	.download span,
	.zip span{
		font-weight: bold;
		padding: 2px 0 1px 20px;
	}
		
		.download:hover span,
		.zip:hover span,
		.email.hover span, .email:hover span,
		.vcard.hover span, .vcard:hover span{background-position: 0 0;} /*ie6 chaining/pseudo hover*/
		
		p .download:hover, p .download:active, p .download:focus,
		p .zip:hover, p .zip:active, p .zip:focus{text-decoration: none;}
		
	.rss span{background: transparent url('../../img/icons/icn_corp_rss.gif') 0 -18px no-repeat;}
	.pdf span{background: transparent url('../../img/icons/icn_corp_pdf.gif') 0 -18px no-repeat;}
	
	.rss span,
	.pdf span{
		font-weight: bold;
		padding: 3px 0 0 20px;
	}
		.rss:active span,
		.pdf:active span{background-position:0 0;}

a span span,
a span.size{background:transparent none;padding:0;}

.cta:hover,
.cta:focus,
.cta:active,
.links a:hover,
.links a:focus,
.links a:active{background-image:url('../../img/icons/icn_cta_blue_hover.gif');text-decoration: none;}

.back:hover,
.back:focus,
.back:active{background-image:url('../../img/icons/icn_cta-back_blue_hover.gif');}

/*buttons*/
.main .black .button,
.sub .black .button,
.button{
	background: #131313 url('../../img/backgrounds/bg_button_tile.gif') 0 0 repeat-x;
	border: 1px solid #363636;
	display: block;
	padding: 6px 6px 5px 6px;
}
	.main .button,
	.sub .button,
	.white .button{border-color:#000;}

.main .black .button:active,
.sub .black .button:active,
.button:active{background-image: url('../../img/backgrounds/bg_button_tile_active.gif');}

.main .black .button span,
.sub .black .button span,
.button span{
	background: transparent url('../../img/icons/icn_cta_green.gif') right 50% no-repeat;
	display:block;
	padding-right: 8px;
}
	.main .button span,
	.sub .button span,
	.white .button span{background-image: url('../../img/icons/icn_cta_white.gif');}

.main .black .button:link,
.main .black .button:visited,
.sub .black .button:link,
.sub .black .button:visited,
.button:link,
.button:visited{
	color: #62B651;
	font-size: 1.09090em;
	line-height: 1em;
	font-weight:bold;
}
	.main .button:link,
	.main .button:visited,
	.sub .button:link,
	.sub .button:visited,
	.white .button:link,
	.white .button:visited{color: #FFF;}

.main .black .button:hover,
.main .black .button:focus,
.main .black .button:active,
.sub .black .button:hover,
.sub .black .button:focus,
.sub .black .button:active,
.button:hover,
.button:focus,
.button:active{color: #338322;text-decoration: none;}
	.main .button:hover,
	.main .button:focus,
	.main .button:active,
	.sub .button:hover,
	.sub .button:focus,
	.sub .button:active,
	.white .button:hover,
	.white .button:focus,
	.white .button:active{color: #3F94BC;}

.main .black .button:hover span,
.main .black .button:focus span,
.main .black .button:active span,
.sub .black .button:hover span,
.sub .black .button:focus span,
.sub .black .button:active span,
.button:hover span,
.button:focus span,
.button:active span{background-image: url('../../img/icons/icn_cta_green_hover.gif');}
	.main .button:hover span,
	.main .button:focus span,
	.main .button:active span,
	.sub .button:hover span,
	.sub .button:focus span,
	.sub .button:active span,
	.white .button:hover span,
	.white .button:focus span,
	.white .button:active span{background-image: url('../../img/icons/icn_cta_blue_hover.gif');}

/* video thumb
========== */
.video_thumb {position:relative;display:block;}
.video_thumb a.cta {
	background-color:#FFF;
	background-position:52px 50%;
	position:absolute !important;
	top:50%;
	left:50%;
	width:62px;
	line-height:14px;
	margin:-12px 0 0 -31px;
	padding:5px 0;
	text-align:center;
}
.video_thumb a.cta span {
	margin-left:-10px;
	display:inline-block;
}

/* Anchors - Toggle
========== */
.toggle {display: none;}
	.jsEnabled .toggle {display: block;}
	
.toggle:link,
.toggle:visited{
	background: #000 url('../../img/icons/icn_toggle.gif') 0 0 no-repeat;
	border: 1px solid #000;
	font-size: 0.526em;
	line-height: 1.2em;
	float: right;
	width: 18px;
	height: 0;
	padding-top: 18px;
	padding-right: 0;
	overflow: hidden;
}
	.main .black .toggle,
	.sub .black .toggle {background-position: 0 0;}

.main .black a.toggle.selected,
.sub .black a.toggle.selected,
a.toggle.selected{background-position: -23px 0;}

.main .toggle,
.sub .toggle,
.white .toggle{background-position: 0 -23px;}
	.main .selected .toggle,
	.sub .selected .toggle,
	.white .selected .toggle{background-position: -23px -23px;}

#footer .toggle{background-position: 0 -46px;}
	#footer dt a.toggle.selected{background-position: -23px -46px;}
	
h2 .toggle{margin-top: -0.2em;}
#footer .toggle{margin-top: -0.4545em;}